<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/editarPerfil.css">
    <title>Editar Usuario</title>
</head>

<body>
    <section class="contact-box">
        <div class="row no-gutters">
            <div class="image-container">
                <img src="img/cityalert.png" alt="login">
            </div>
            <div class="col-xl-7 col-lg12 d-flex">
                <div class="container align-self-center">
                    <h1 class="font-weight-bold">Edita tu usuario</h1>  
                    <% if (nuevoIntento){ %>
                        <h4>Coreo ya registrado, intenta con otro</h4>
                        <% } %>
                            <% if (error){ %>
                                <h4>Error al registrar usuario, por favor intente de nuevo</h4>
                                <% } %>
                                    <form action="registrarse" method="post">
                                        <div class="form-row mb-3">
                                            <div class="form-group col-md-5">
                                                <label class="font-weight-bold">Nombre<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" name="nombre" placeholder="nombre"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label class="font-weight-bold">Apellido Paterno<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" name="appat" placeholder="appat"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label class="font-weight-bold">Apellido materno<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" name="apmat" placeholder="apmat"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label class="font-weight-bold">Fecha de nacimiento<span
                                                    class="text-danger">*</span></label>
                                            <input type="date" name="fecha" class="form-control">
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label class="font-weight-bold">Sexo<span
                                                    class="text-danger">*</span></label>
                                            <select name="sexo">
                                                <option value=""></option>
                                                <option value="1">Masculino</option>
                                                <option value="2">Femenino</option>
                                                <option value="3">Otro</option>
                                                <option value="4">Indefinido</option>
                                            </select>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label class="font-weight-bold">Ciudad<span
                                                    class="text-danger">*</span></label>  
                                                <select name="estado">
                                                    <option value="0"></option>
                                                    <% estados.forEach(estado=> {
                                                        %>
                                                        <option value="<%=estado.obtenerIdEstado()%>">
                                                            <%=estado.obtenerEstado()%>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label class="font-weight-bold">Alcaldía<span class="text-danger">*</span></label>
                                            <select class="municipio-select" name="municipio">
                                                <option class="municipio" value="0"></option>
                                                <% municipios.forEach(municipio=> {
                                                    %>
                                                    <option value="<%=municipio.obtenerIdMunicipio()%>">
                                                        <%=municipio.obtenerMunicipio()%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            </div>
                                                <div class="form-group col-md-5">
                                                <label class="font-weight-bold">Asentamiento<span class="text-danger">*</span></label>
                                               <select name="asentamiento" class="asentamiento-select">
                                                    <option value="0"></option>
                                                    <% asentamientos.forEach(asentamiento=> {
                                                        %>
                                                        <option
                                                            class="asentamiento inactive municipioId-<%=asentamiento.obtenerMunicipio().obtenerIdMunicipio()%>-"
                                                            value="<%=asentamiento.obtenerIdAsentamiento()%>">
                                                            <%=asentamiento.obtenerAsentamiento()%>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                </div>
                                            
                                           <div class="form-group col-md-5">
                                            <label class="font-weight-bold">Correo<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="correo" placeholder="correo" class="form-control">
                                           </div>
                                           <div class="form-group col-md-5">
                                            <label class="font-weight-bold">Contraseña<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="contrasenia" placeholder="contraseña"
                                            class="form-control">
                                           </div>
                                            
                                            <input class="btn" type="submit">
                                        </div>
                                    </form>
                </div>
            </div>
            
        </div>
    </section>
    <script src="scripts/asentamiento.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>