<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Libre+Baskerville&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">

    <title>CityAlert</title>
</head>

<body>
    <!----------Barra de navegacion-->
    <nav>
        <div class="container">
            <h2 class="log">
                City Alert
            </h2>
            <div class="search-bar">
                <img src="img/search.png">
                <input type="search" placeholder="Buscar publicación">
            </div>
            <div class="create">
                <label class="btn btn-primary" id="create-post">Crear</label>
                <div class="profile-picture">
                    <img class="img" src="img/user.png">
                </div>
            </div>
        </div>
    </nav>
    <!-------fin Barra de navegacion-->

    <main>
        <div class="conteiner">
            <!----------left---------->
            <div class="left">
                <a class="profile">
                    <div class="profile-photo">
                        <img src="img/user.png">
                    </div>
                    <div class="handle">
                        <h4>Usuario</h4>
                        <p class="text-muted">
                            @User.email
                        </p>
                    </div>
                </a>

                <div class="sidebar">
                    <a class="menu-item">
                        <span><img src="img/home (1).png"></span>
                        <h3>Home</h3>
                    </a>
                    <a class="menu-item">
                        <span><img src="img/history.png"></span>
                        <h3>Publicaciones recientes</h3>
                    </a>
                    <a class="menu-item" id="notifications">
                        <span><img src="img/bell.png"></span>
                        <h3>Notificaciones</h3>

                        <div class="notifications-popup">
                            <div class="profile-photo">
                                <img src="img/user.png">
                            </div>
                            <div class="notification-body">
                                <b>User</b>Mensaje de notificacion
                                <small class="text-muted">Tiempo de la notificacion</small>
                            </div>
                            <div class="profile-photo">
                                <img src="img/user.png">
                            </div>
                            <div class="notification-body">
                                <b>User</b>Mensaje de notificacion
                                <small class="text-muted">Tiempo de la notificacion</small>
                            </div>
                            <div class="profile-photo">
                                <img src="img/user.png">
                            </div>
                            <div class="notification-body">
                                <b>User</b>Mensaje de notificacion
                                <small class="text-muted">Tiempo de la notificacion</small>
                            </div>
                        </div>

                    </a>
                    <a class="menu-item">
                        <span><img src="img/question.png"></span>
                        <h3>Ayuda</h3>
                    </a>
                    <a class="menu-item" id="theme">
                        <span><img src="img/color-palette.png"></span>
                        <h3>Tema</h3>
                    </a>
                    <a class="menu-item">
                        <span><img src="img/alert.png"></span>
                        <h3>Terminos y condiciones</h3>
                    </a>
                </div>
            </div>


            <!-------medio----->
            <div class="middle">
                <div class="container-publicaciones">
                    <% publicaciones.forEach(publicacion=> {
                        const fecha_publicacion = new Date(publicacion.obtenerFecha());
                        %>
                        <div class="feeds">
                            <div class="feed">
                                <div class="head">
                                    <div class="user">
                                        <div class="profile-photo">
                                            <!--Obtener foto de perfil del usuario--><img src="img/user.png">
                                        </div>
                                        <div class="info">
                                            <h3>
                                                <!--Nombre del usuario-->
                                                <%= publicacion.obtenerUsuario().obtenerPersona().obtenerNombre() %> ~
                                                    <%= publicacion.obtenerUsuario().obtenerCorreo() %>
                                            </h3>
                                            <small>
                                                <!--Ubicación y hora de publicación-->
                                                <%= fecha_publicacion.toLocaleString() %>
                                            </small>
                                        </div>
                                    </div>
                                    <ul class="edit">
                                        <li class="enc"><img src="img/opciones.png">
                                            <!--<ul>
                                            <li class="enc_"><a href="" class="enc"><b>Español</b></a></li>
                                            <li class="enc_"><a href="" class="enc"><b>Inglés</b></a> </li>
                                        </ul>--->
                                        </li>
                                    </ul>
                                </div>
                                <div class="photo">
                                    <h4>
                                        <%= publicacion.obtenerComentarioDePublicacion() %>
                                    </h4>
                                    <!--<img alt="imagen" src="<%= publicacion.obtenerImagenes()[0].obtenerRuta() %>">-->
                                    <img src="img/accidente.jpg">
                                </div>
                                <div class="action-buttons">
                                    <div class="interaction-buttons">
                                        <ul class="list">
                                            <li><img src="img/peligro.png"></li>
                                            <li><img src="img/comentario.png"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="comentarios-publicacion">
                                    <% publicacion.obtenerComentarios().forEach(comentario=> {
                                        const fecha = new Date(comentario.obtenerFecha());
                                        %>
                                        <div class="caption">
                                            <p>
                                                <b>
                                                    <%= publicacion.obtenerUsuario().obtenerPersona().obtenerNombre() %>
                                                </b>
                                                <%= fecha.toLocaleString() %>
                                                    <hr>
                                                    <%= comentario.obtenerComentario() %>
                                            </p>
                                            <% }) %>
                                                <form action="agregar-comentario" method="post" class="create-comment">
                                                    <input type="hidden" value="<%= usuario.obtenerIdUsuario() %>"
                                                        name="id_usuario">
                                                    <input type="hidden"
                                                        value="<%= publicacion.obtenerIdPublicacion() %>"
                                                        name="id_publicacion">
                                                    <input type="text" name="comentario"
                                                        placeholder="Escribe un Comentario..." id="create-comment"
                                                        class="comment">
                                                    <input type="submit" value="Enviar" class="btn btn-primary">
                                                </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
            
        </div>
        <!-------lado derecho----->
        <div class="right">
            <div class="messages">
                <div class="heading">
                    <h4>Noticias destacadas</h4>
                </div>
                <div class="search-bar">
                    <img src="img/search.png">
                    <input type="search" placeholder="Buscar destacadas" id="message-search">
                </div>
                <div class="noticia-body">

                </div>
            </div>
        </div>
    </main>

    <!-------Customizacion----->
    <div class="customize-theme">
        <div class="card">
            <h2>Editar</h2>
            <p class="text-muted">Manega el fondo, colores y tamaño de letra </p>
            <div class="font-size">
                <h4>Tamaño de letra</h4>
                <div>
                    <h6>Aa</h6>
                    <div class="choose-size">
                        <span class="font-size-1"></span>
                        <span class="font-size-2"></span>
                        <span class="font-size-3"></span>
                        <span class="font-size-4"></span>
                        <span class="font-size-5"></span>
                    </div>
                    <h3>Aa</h3>
                </div>
            </div>
            <div class="color">
                <h4>Color</h4>
                <div class="choose-color">
                    <span class="color-1 active"></span>
                    <span class="color-2 active"></span>
                    <span class="color-3 active"></span>
                </div>
            </div>
            <div class="background">
                <h4>Fondo</h4>
                <div class="choose-bg">
                    <div class="bg-1 active">
                        <span></span>
                        <h5 for="bg-1">Claro</h5>
                    </div>
                    <div class="bg-2">
                        <span></span>
                        <h5 for="bg-2">Oscuro</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------crear publicacion----->
    <div class="o">
        <div class="contenedor">
            <div class="wrapper">
                <section class="post">
                    <header>Crear Publicación</header>
                    <form action="#">
                        <div class="content">
                            <img src="img/user.png">
                            <div class="details">
                                <p>User</p>
                            </div>
                        </div>
                        <textarea placeholder="Agrega una descripción" required></textarea>
                        <div class="options">
                            <p>Agrega a tu publicación</p>
                            <ul class="list">
                                <li><img src="img/alert-caution.png" class="op" id="c1"></li>
                                <div class="contenido1">
                                    <label>Categoría:</label>
                                    <select name="Categoría" id="categoria">
                                        <option value=""></option>
                                        <option value="">Advertencia</option>
                                        <option value="">Alerta</option>
                                        <option value="">Emergencia</option>
                                    </select>
                                </div>
                                <li><img src="img/location.png" class="op" id="c2"></li>
                                <div class="contenido2">
                                    <label>Estado:</label>
                                    <select name="Estado" id="estado">
                                        <option value=""></option>
                                        <% estados.forEach(estado=> {
                                            %>
                                            <option value="<%=estado.obtenerIdEstado()%>">
                                                <%=estado.obtenerEstado()%>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <br>
                                    <label>Municipio:</label>
                                    <select class="municipio-select" name="Municipio" id="municipio">
                                        <option value=""></option>
                                        <% municipios.forEach(municipio=> {
                                            %>
                                            <option value="<%=municipio.obtenerIdMunicipio()%>">
                                                <%=municipio.obtenerMunicipio()%>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <br>
                                    <label>Nombre:</label>
                                    <select class="asentamiento-select" name="Asentamiento" id="nombre">
                                        <option value=""></option>
                                        <% asentamientos.forEach(asentamiento=> {
                                            %>
                                            <option
                                                class="asentamiento inactive municipioId-<%=asentamiento.obtenerMunicipio().obtenerIdMunicipio()%>-"
                                                value="<%=asentamiento.obtenerIdAsentamiento()%>">
                                                <%=asentamiento.obtenerAsentamiento()%>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <li><img src="img/add-image.png" class="op" id="c3"></li>
                                <div class="contenido3">
                                    <input type="text" placeholder="Agrega el link de tu imagen">
                                </div>
                            </ul>
                        </div>
                        <button>Publicar</button>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <script src="scripts/asentamiento.js"></script>
    <script src="scripts/home.js"></script>
</body>

</html>